<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMAIL -Template</title>
</head>
<body>
    <h1>Sistema ABM - Usuarios</h1>
    <br>
    <tr>
        <td align="left">
            <span style="font-size: 20px; color: grey; font-weight: 800;">Alta de red usuario <%= user.firstName %> <%= user.lastName %>.</span>
        </td>
    </tr>
    <br>
    <tr>
        <td  style="color: #a4a4a4; line-height: 25px; font-size: 12px; font-weight: normal; font-family: Helvetica, Arial, sans-serif;">

            <p style="color: #000000;">La solicitud fue realizada por: <%= internaluser.fullName %></p>
            <p style="color: #000000;">Datos del usuario:</p>
            <ul>
                <li><b>Nombre:</b> <%= newdata.firstName %></li>
                <li><b>Apellido:</b> <%= newdata.lastName %></li>
                <li><b>Documento:</b> <%= newdata.doc %></li>
                <li><b>Legajo:</b> <%= newdata.file %></li>
                <li><b>Posición:</b> <%= newdata.position %></li>
                <li><b>Ctro Atención:</b> <%= newdata.location %></li>
                <li><b>Teléfono:</b> <%= newdata.phone %></li>
                <li><b>Nacimiento:</b> <%= newdata.birthdate %></li>
                <li><b>Departamento:</b> <%= newdata.department %></li>
                <li><b>Empresa:</b> <%= newdata.organization %></li>
                <li><b>Jefe Directo:</b> <%= newdata.chief %></li>
                <li><b>Dominio Mail:</b> @<%= newdata.maildomain %></li>
                <% if (newdata.userduedate != "") {%>
                <li><b>Fecha de expiración:</b> <%= newdata.userduedate %></li>
                <% } %>
            </ul>
            
            <a href="http://abmrrhh.crtp.corp:3000" style="text-decoration: none">Puede verificar ingresando al sistema</a>

        </td>
    </tr>
</body>
</html>