<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMAIL -Template</title>
</head>
<body>
    <h1>Sistema ABM - Usuarios</h1>
    <br>
    <tr>
        <td align="left">
            <span style="font-size: 17px; color: grey; font-weight: 700;">El usuario <%= user.firstName %> <%= user.lastName %> ha recibido una modificación.</span>
        </td>
    </tr>
    <br>
    <tr>
        <td  style="color: #a4a4a4; line-height: 25px; font-size: 12px; font-weight: normal; font-family: Helvetica, Arial, sans-serif;">

            <p style="color: #000000;">La modificación fue realizada por: <%= internaluser.fullName %></p>
            <p style="color: #000000;">Los datos modificados son:</p>
            <ul>
                <% if (olddata.firstName != newdata.firstName) {%>
                <li><b>Nombre:</b> <%= newdata.firstName %></li>
                <% } %>
                <% if (olddata.lastName != newdata.lastName) {%>
                <li><b>Apellido:</b> <%= newdata.lastName %></li>
                <% } %>
                <% if (olddata.document != newdata.doc) {%>
                <li><b>Documento:</b> <%= newdata.doc %></li>
                <% } %>
                <% if (olddata.file != newdata.file) {%>
                <li><b>Legajo:</b> <%= newdata.file %></li>
                <% } %>
                <% if (olddata.position != newdata.position) {%>
                <li><b>Posición:</b> <%= newdata.position %></li>
                <% } %>
                <% if (olddata.location != newdata.location) {%>
                <li><b>Ctro Atención:</b> <%= newdata.location %></li>
                <% } %>
                <% if (olddata.phone != newdata.phone) {%>
                <li><b>Teléfono:</b> <%= newdata.phone %></li>
                <% } %>
                <% if (olddata.iphone != newdata.iphone) {%>
                <li><b>Teléfono IP:</b> <%= newdata.iphone %></li>
                <% } %>
                <% if (olddata.birthdate != newdata.birthdate) {%>
                <li><b>Nacimiento:</b> <%= newdata.birthdate %></li>
                <% } %>
                <% if (olddata.department != newdata.department) {%>
                <li><b>Departamento:</b> <%= newdata.department %></li>
                <% } %>
                <% if (olddata.organization != newdata.organization) {%>
                <li><b>Empresa:</b> <%= newdata.organization %></li>
                <% } %>
                <% if (olddata.chief != newdata.chief) {%>
                <li><b>Jefe Directo:</b> <%= newdata.chief %></li>
                <% } %>
                <% if (olddata.username != username) {%>
                <li><b>Usuario de red:</b> crtp.corp\<%= username %></li>
                <% } %>
                <% if (olddata.maildomain != newdata.maildomain) {%>
                <li><b>Dominio Mail:</b> <%= newdata.maildomain %></li>
                <% } %>
                <% if (olddata.userduedate != newdata.userduedate) {%>
                <li><b>Fecha de expiración:</b> <%= newdata.userduedate %></li>
                <% } %>
            </ul>

            <a href="http://abmrrhh.crtp.corp:3000" style="text-decoration: none">Puede verificar ingresando al sistema</a>

        </td>
    </tr>
</body>
</html>