<aside>
    <div id="sidebar"  class="nav-collapse" style="background-color: #a83232;">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion" style="background-color: #a83232;">
            <li>
                <a href="/index">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" class="<%= req.originalUrl.includes('/users') ? 'active' : '' %>" >
                    <i class="fa fa-users"></i>
                    <span>Adm.Usuarios</span>
                </a>
                <ul class="sub">
                    <li class="<%= req.originalUrl === '/users/list' ? 'active' : '' %>" ><a  href="/users/list">Listado</a></li>
                    <% if (req.session.userCan.includes("abm_users")) { %>
                        <li class="<%= req.originalUrl === '/users/new' ? 'active' : '' %>"><a  href="/users/new">Alta Usuario</a></li>
                        <li class="<%= req.originalUrl === '/users/pending' ? 'active' : '' %>"><a  href="/users/pending">En Proceso</a></li>
                    <% } %>
                </ul>
            </li>

            <li class="sub-menu">
                <% if (req.session.userCan.includes("system_admin")) { %>
                <a href="javascript:;" class="<%= req.originalUrl.includes('/config') ? 'active' : '' %>" >
                    <i class="fa fa-gears"></i>
                    <span>Config del Sistema</span>
                </a>
                <ul class="sub">
                    <li class="<%= req.originalUrl === '/config/users' ? 'active' : '' %>" ><a  href="/config/users">Usuarios</a></li>
                        <li class="<%= req.originalUrl === '/config/roles' ? 'active' : '' %>"><a  href="/config/roles">Roles</a></li>
                        <li class="<%= req.originalUrl === '/config/permissions' ? 'active' : '' %>"><a  href="/config/permissions">Permisos</a></li>
                        <li class="<%= req.originalUrl === '/config/domains' ? 'active' : '' %>"><a  href="/config/domains">Mail-Dominios</a></li>
                        <li class="<%= req.originalUrl === '/config/organizations' ? 'active' : '' %>"><a  href="/config/organizations">Empresas</a></li>
                        <li class="<%= req.originalUrl === '/config/locations' ? 'active' : '' %>"><a  href="/config/locations">Locación</a></li>
                        <li class="<%= req.originalUrl === '/config/departments' ? 'active' : '' %>"><a  href="/config/departments">Departamentos</a></li>
                    </ul>
                <% } %>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>