<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="/img/favicon.png">

    <title>ABM - Usuarios</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-reset.css" rel="stylesheet">
        
        <!--external css-->
        <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
        <!--dynamic table-->
        <link href="/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
        <link href="/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
        <link rel="stylesheet" href="/assets/data-tables/DT_bootstrap.css" />
        
        <!-- Custom styles for this template -->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/style-responsive.css" rel="stylesheet" />    
</head>
<body>

<section id="container" class="">
    <!-- Include Header -->
    <%- include('../partials/header.ejs') %>
    <!--header end-->

    <!--Include Sidebar-->
        <%- include('../partials/sidebar.ejs') %>
    <!--sidebar end-->

        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- page start-->
                <div class="col-lg-6" style="margin: auto;">
                    <section class="card">
                        <header class="card-header">
                            Alta usuario de red
                        </header>
                        <div class="card-body">
                            <form action="/users/newuser" method="POST" id="new-user">
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="firstName" value="<%= body.firstName %>" required>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Apellido</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="lastName" value="<%= body.lastName %>" required>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Documento Identidad</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="doc" value="<%= body.doc %>" required>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Posición</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="position" value="<%= body.position %>" required>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Día de nacimiento</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" name="birthdate" value="<%= body.birthdate %>" required>
                                    </div>
                                </div>
                                <fieldset class="form-group">
                                    <div class="row" style="padding-left: 15px;" >
                                        <legend class="col-form-label col-sm-2 pt-0">Tipo de usuario</legend>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="external" id="external0" value="0" onclick="externaluser('external0', 'external1', 'userdate', 'usermail', this)" checked>
                                                <label class="form-check-label">
                                                    Personal de nómina
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="external" id="external1" value="1" onclick="externaluser('external0', 'external1', 'userdate', 'usermail', this)">
                                                <label class="form-check-label">
                                                    Personal externo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group row" style="padding: 0 15px" id="userdate" hidden>
                                    <label class="col-sm-2 col-form-label">Vencimiento de cuenta</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" name="userduedate">
                                    </div>
                                </div>
                                <div class="form-group row" style="padding-left: 15px;" id="usermail" hidden>
                                    <div class="col-sm-2">Mail corporativo</div>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck1" onclick="nonmail('gridCheck1', 'showdomain', this)">
                                            <label class="form-check-label" for="gridCheck1">
                                                No necesita correo corporativo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;" id="showdomain">
                                    <label class="col-sm-2 col-form-label">Dominio para mail</label>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" name="maildomain" required>
                                            <option disabled selected></option>
                                            <% for (domain of domains) {%>
                                            <option value="<%= domain.domainName %>"> @<%= domain.domainName %></option>
                                            <% } %> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Empresa</label>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" name="organization" required>
                                            <option disabled selected></option>
                                            <% for (organization of organizations) {%>
                                            <option value="<%= organization.name %>"> <%= organization.name %></option>
                                            <% } %> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Centro de Atención</label>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" name="location" required>
                                            <option disabled selected></option>
                                            <% for (location of locations) {%>
                                            <option value="<%= location.name %>"> <%= location.name %></option>
                                            <% } %> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Teléfono externo:</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" name="phone" value="<%= body.phone %>" >
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Departamento</label>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" name="department" required>
                                            <option disabled selected></option>
                                            <% for (department of departments) {%>
                                            <option value="<%= department.name %>"> <%= department.name %></option>
                                            <% } %> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding: 0 15px;">
                                    <label class="col-sm-2 col-form-label">Jefe Directo</label>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control" name="chief" required>
                                            <option disabled selected></option>
                                            <% for (chief of chiefs) {%>
                                            <option value="<%= chief.fullName %>"> <%= chief.fullName %> (<%= chief.department %>) </option>
                                            <% } %> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div style="margin: auto; padding-top: 15px;">
                                        <button type="submit" class="btn btn-danger">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
        <!-- Modal -->
        <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModal">Usuario duplicado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        El documento que ingresó ya está dado de alta en la Base de datos, por favor verificar que esté correcto o verifique en los listados de usuarios, si realmente ya existe.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->  
    <!-- Include footer -->
    <!-- <%- include('../partials/footer.ejs') %> -->
    <!-- footer end -->
</section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/slidebars.min.js"></script>
    <script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/js/respond.min.js" ></script>

    <!--common script for all pages-->
    <script src="/js/common-scripts.js"></script>

    <script>
        function externaluser(external0, external1, userdate, usermail, elementValue) {
        if (document.getElementById(external1).checked) {
            document.getElementById(userdate).removeAttribute("hidden"),
            document.getElementById(usermail).removeAttribute("hidden")
        } else if (document.getElementById(external0).checked) {
            document.getElementById(userdate).hidden = true,
            document.getElementById(usermail).hidden = true
        };
        }
    </script>

    <script>
        function nonmail(gridCheck1, showdomain, elementValue) {
        if (document.getElementById(gridCheck1).checked) {
            document.getElementById(showdomain).hidden = true
        } else {
            document.getElementById(showdomain).removeAttribute("hidden")
        };
        }
    </script>

    <script>
        $( document ).ready(function() {
        $('#myModal').modal('toggle')
        })
    </script>

</body>
</html>
